.swift-cache/
.build/
.xcode-derived/
dist/
DerivedData/
build/
*.xcuserstate
*.xcworkspace/xcuserdata/
MacPort.xcodeproj/xcuserdata/
MacPort.xcodeproj/project.xcworkspace/xcuserdata/
*.app/
*.dSYM/
.DS_Store
